{% block title %}Création d'Airplay{% endblock %}
{% extends 'base.html.twig' %}


{% block body %}


	<fieldset>
		<legend>Création d'Airplay</legend>
		<form id="addCd">
			<input type="text" id="newCD"><button type="submit" class="btn btn-info">Ajouter le CD</button>
		</form>
		<div class="row">
			<form method="post" action="{{path('createAirplay')}}" id="types_table">
				<div class="col-md-8">
					<table class="table table-striped">
						<tr>
						{% for type in types %}
								<td><label for="type_{{type.getLibelle}}">{{type.getLibelle}}</label>
									<input type="checkbox" name="type[{{type.getType}}]" value="{{type.getType}}" id="type_{{type.getLibelle}}" {% if types_check and types_check[type.getType] is defined %}checked{% endif %}></td>
						{% endfor %}
						</tr>
					</table>
				</div>
				<div class="col-md-4">
					<label for="datepicker">Depuis le </label>
					<input class="datepicker" id="datepicker" name="date"></input>
					<button type="submit" class="btn btn-info">Générer l'Airplay</button>
				</div>
			</form>
		</div>
		{% form_theme form 'bootstrap_3_layout.html.twig' %}
		{{form_start(form,{'attr': {'id': 'airplay_form'}})}}
			{{form_errors(form)}}
			<input type="text" name="classement" id="classement" class="hidden">
			<div class="row">
				<div class="col-xs-10">
					{{form_row(form.libelle,{'label':'Titre de l\'airplay'})}}
				</div>
			</div>
			<div class="row">
				<div class="table-responsive">
					<table class="table table-striped" id="liste_cd">
						<thead>
							<th>#</th>
							<th>Pochette</th>
							<th>cd</th>
							<th>Artiste</th>
							<th>Titre</th>
							<th>Lien d'écoute</th>
							<th>Commentaire</th>
							<th>Année</th>
							<th>Rotation</th>
							<th>Note</th>
							<th>Star</th>
							<th>Rivendel</th>
							<th>Anim</th>
							<th>Genre</th>
							<th>Type</th>
							<th>Action</th>
						</thead>
						{% set ordre = 1 %}
						<tbody>
						{% if generation %}
							{% for cd in generation %}
							<tr id="row_{{cd.cd}}">
								<td class="num_row_airplay visible">{{ordre}}</td>
								<td class="pochette">
									{% if cd.img %}
										<img src="{{ asset(cd.getImgWebPath()) }}">
									{% else %}
										<a href="{{ path('editCd',{'id':cd.cd}) }}" target="_blank">Editer</a>
									{% endif %}
								</td>
								<td class="num_cd">{{cd.cd}}</td>
								<td title="{{cd.artiste.libelle}}">{{cd.artiste.libelle | truncate(20, true, '...')}}</td>
								<td title="{{cd.titre}}">{{cd.titre | truncate(20, true, '...')}}</td>
								<td>
									<input type="text" name="ecoute[{{cd.cd}}]" {% if cd.ecoute %}value="{{cd.ecoute}}"{% endif %}>
								</td>
								<td>{{cd.comment | truncate(30, true, '...')}}</td>
								<td>{{cd.annee}}</td>
								<td>{% if cd.rotation and cd.rotation.rotation %}{{cd.rotation.libelle}}{% endif %}</td>
								<td>{% if cd.notemoy %}{{cd.notemoy|round(1,'ceil')}}{% endif %}</td>
								<td>{% set star = 0 %}{% for piste in cd.pistes %}{% if piste.star > 0 %}{% set star = star+1 %}{% endif %}{% endfor %}{{star}}</td>
								<td>{% set rivendell = 0 %}{% for piste in cd.pistes %}{% if piste.rivendell > 0 %}{% set rivendell = rivendell+1 %}{% endif %}{% endfor %}{{rivendell}}</td>
								<td>{% set anim = 0 %}{% for piste in cd.pistes %}{% if piste.anim > 0 %}{% set anim = anim+1 %}{% endif %}{% endfor %}{{anim}}</td>
								<td>{{cd.genre.libelle}}</td>
								<td>{% if cd.type and cd.type.type %}{{cd.type.libelle}}{% endif %}</td>
								<td><a onclick="deleteRow({{cd.cd}})" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a></td>
							</tr>
							{% set ordre = ordre+1 %}
							{% endfor %}
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		{{form_end(form)}}
	</fieldset>

{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{asset('js/editTableCd.js')}}"></script>
	<script type="text/javascript">

		$("#liste_cd tbody").sortable({
			update: classer
		});

		$(".datepicker").datepicker({
				format: 'dd/mm/yyyy',
				endDate: '-0d'
		});
		var date_mini = "{{date_mini|date('d/m/Y')}}";
		$(".datepicker").datepicker('setDate',date_mini);

		$( "#newCD" ).autocomplete({
				source: "{{path('autocompleteTitre',{'like':1})}}",
				minLength: 2,
				delay: 300,
				select: function( event, ui ) {
						$("#newCD").text(ui.item.libelle);
				},
				create : function( event, ui ){$(".ui-helper-hidden-accessible").remove();}
		});

		var new_row = "<tr class='ui-sortable-handle' id='row_:id'>";
		new_row += "<td class='num_row_airplay'></td><td class='pochette'>:img</td>";
		new_row += "<td class='num_cd'>:id</td><td>:artiste</td><td>:titre</td>";
		new_row += "<td><input type='text' name='ecoute[NNN]' value=':ecoute'></td>";
		new_row += "<td>:commentaire</td>";
		new_row += "<td>:annee</td><td>:rotation</td><td>:note</td>";
		new_row += "<td>:star</td><td>:rivendell</td><td>:anim</td>";
		new_row += "<td>:genre</td><td>:type</td>";
		new_row += "<td><button onclick='deleteRow(:id)' class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span></button></td>";
		new_row += "</tr>";

		bindAddCd(new_row);

		$("#airplay_form").submit(function(event){
			$("#classement").val("");
			$("#liste_cd .num_cd").each(function(){
				$("#classement").val($("#classement").val()+$(this).html()+",");
			});
		});
	</script>
{% endblock %}
