{% block title %}Navigation Airplays{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

<style type="text/css">

.table tbody:hover {
	cursor: pointer;
}

</style>

<h1>Liste des derniers Airplays <a href="{{path('createAirplay')}}" class="btn btn-success">Nouvel Airplay</a></h1>

{% if airplays %}
<div class="responsive-table">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<th>Nom</th>
				<th>Action</th>
				<th>Publication ?</th>
			</tr>
		</thead>
		<form id="publication" method="post" action="">
		{% for airplay in airplays %}
			<tr onclick="seeAirplay({{airplay.airplay}})">
				<td>{{airplay.dmodif|date("d/m/Y")}}</td>
				<td>{{airplay.libelle}}</td>
				<td>
					{% if not airplay.publie %}
						<a href="{{path('editAirplay',{'id':airplay.airplay})}}"><span class="glyphicon glyphicon-edit" title="Editer"></span></a>
					{% endif %}
				</td>
				<td><input class="checkboxPublie" type="checkbox" name="publie[{{airplay.airplay}}]" value="{{airplay.airplay}}" {% if airplay.publie == 1 %}checked{% endif %} {% if not is_granted('ROLE_SUPER_ADMIN') %}disabled{% endif %}></td>
			</tr>
		{% endfor %}

	</table>
		<input id="non_publies" name="non_publies" type="text" class="hidden">
		<button type="submit" class="btn btn-success pull-right">Enregistrer</button>
		</form>

</div>
	<nav>
		<ul class="pagination">
		<li>
		  <a href="{{path('airplay',{'page':'1'})}}" aria-label="Previous">
		    <span aria-hidden="true">&laquo;</span>
		  </a>
		</li>
		{% for i in 1..pageMax %}
			<li {% if page == i %}class="active"{% endif %}><a href="{{path('airplay',{'page':i})}}">{{i}}</a></li>
		{% endfor %}
		<li>
		  <a href="{{path('airplay',{'page':pageMax})}}" aria-label="Next">
		    <span aria-hidden="true">&raquo;</span>
		  </a>
		</li>
		</ul>
	</nav>
<iframe src="{{path('showAirplay',{'id':airplays[0].airplay})}}" style="border:none;width:100%;height:400px;"></iframe>
{% endif %}


{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	function seeAirplay (airplay) {
        var route = Routing.generate('showAirplay', {'id': airplay});
		$("iframe").attr('src',route);
	}

	$("#publication").submit(function(event) {
		$("#non_publies").val('');
		$(".checkboxPublie").each(function(){
			if ($(this).prop('checked')==false) {
				$("#non_publies").val($("#non_publies").val()+$(this).val()+",");
			}
		});
	})

</script>
{% endblock %}
